
    /* =================HEADER================= */
    .logo-part-header{
        color: #2e2f42;
    }
    
    .logo{
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
       
    }
    
    .nav-list {
        display: flex;
        gap: 40px; 
    }
    .nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        margin-left: 76px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link:hover,
    .nav-link:focus{
        color: #404bbf;
    }
    .current {
    position: relative;
    color: #404bbf;
    }
    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }
    
    
    .address{
        font-style: normal;
        margin-left: auto;
    }
    .address-list {
        display: flex;
        gap: 40px;
    }
    .address-link{   
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link:hover,
    .address-link:focus{
        color: #404bbf;
    }
    /* =================HERO================= */
    .hero {
    box-sizing: content-box;
    background: #2e2f42;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/ipg_11.jpg);
    }
    
    .hero-container {
        align-items: center;
      
     
    }
    
    .hero-title {
    font-family: "Roboto", sans-serif;    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
    }
    
    .hero-ord-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    border: none;
    min-width: 169px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .hero-ord-btn:hover,
    .hero-ord-btn:focus {
        background: #404bbf;
        }
    
    /* =================ADVANTAGES================= */
    .advantages {
        padding: 120px 0;
    }
    .advantages-container {
        align-items: center;
    }
    
    .advantages-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
    .advantages-menu-icon {
        fill: transparent;
        border: 64px;
    }
    .advantages-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }
    
    .advantages-menu-list {
        display: flex;
        gap: 24px;
        list-style: none;
    }
    
    .advantages-menu-item {
        flex-basis: calc((100% - 72px) / 4);
    }
    
    .advantages-menu-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px; 
    }
    
    .advantages-menu-text {
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    /* =================TEAM================= */
    
    .team {
    
    padding-top: 120px;
    padding-bottom: 120px;
    }
    .team-container {
        background: #f4f4fd;
        align-items: center;
    }
    .team-title {
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    }
    .team-menu-list {
        display: flex;
        
      gap: 24px;
    }
    
    
    
    .team-menu-item {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
        background: #ffffff;
        width: calc((100% - 3 * 24px) / 4); 
        border-radius: 0 0 4px 4px;
      
    }
    
    .team-image {
    margin-bottom: 8px;
    }
    .team-item {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    
    
    .team-menu-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    }
    
    .team-menu-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
    }
    
    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        
    }
    .social-links .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color:#4d5ae5;
        gap: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .social-links .link:hover,
    .social-links .link:focus  {
        background-color:#404bbf;
     }
    
    
    .icon-item {
        display: flex;
        fill: #f4f4fd;;
    }
    /* =================PORTFOLIO================= */
    
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .portfolio-container {
        align-items: center;
    }
    .portfolio-title {
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    }
    
    .portfolio-cover-wrap {
        position: relative;
        overflow: hidden;
    }
    
    .portfolio-menu-list {
      
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
        background: 
        #ffffff;
    }
    
    .portfolio-cover-text {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        height: 100%;
     
        padding: 40px 32px;
       
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .portfolio-menu-item { 
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        width: calc((100% - 48px) / 3);
    }
    
    .portfolio-menu-item:hover  {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .portfolio-menu-item:hover .portfolio-cover-text { 
        transform: translateY(0);
        
    }
    
    .container-item
    {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .portfolio-images {
        
    
    }
    
    .portfolio-menu-title {
        font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
    }
    
    .portfolio-menu-text {
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    
    /* =================FOOTER================= */
    
    
    .footer {
        height: 312px;
        padding-top: 100px ;
        padding-bottom: 100px;
        background: #2e2f42;
        }
        
        .footer-wrap-container {   
            display: flex;
            align-items: baseline;
        }
    
        .container-footer {
          margin-right: 120px;
        }
    
        .logo-part-footer{    
        color: #f4f4fd;
        }
        
        .logo 
        {font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            display: inline-block;
          max-width: 264px;
        }
        
        .logo-footer
          {
          display: inline-block;
            margin-bottom: 16px;
            font-family: Raleway, sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
           
          }
          
          
        .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#f4f4fd;
        max-width: 264px;
        margin-right: auto;
        }
    
    .social-menu-item {
    width: 40px;
    height: 40px;
    }
    
    .container-icons {
       
    }
    
    .container-item-icons {
        align-items: baseline;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        max-width: 208px;
    }
    
    .social-links-footer {
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    
    .social-links-footer .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color:#4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .social-links-footer .link:hover {
        background-color:  #31d0aa;
    }
    
    .social-links-footer .link:focus {
        background-color:  #31d0aa;
    }
    
    .footer-container-subscribe {
    margin-left: auto;
    }
    
    .container-subscribe {
        display:inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        gap: 24px;
    }
    .subscribe-form {
        display: flex;
        gap: 24px;
    }
    
    
    .subscribe-label {
       
    }
    
    .subscribe-input {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    padding-left: 16px;
    
    }
    
    .container-btn-subscribe {
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;    height: 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color:#4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px; 
    }
    
    .btn-subscribe {
        width: 24px;
        height: 24px;
        margin-left: 16px; 
        fill: #fff
       
    }
    
    .backdrop {
        position: fixed;
       top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-open{
    opacity: 1;
    visibility: visible ;
    pointer-events: auto;
    }
    
    .modal {
        position: absolute;
        width: 408px;
        min-height: 584px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        border-radius: 4px;
        color: #fff; 
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       padding: 72px 24px 24px 24px;
       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    }
    
    .modal-close {
        position: absolute;
        right: 24px;
        top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex; 
    align-items: center;  
    justify-content: center; 
    background-color: #e7e9fc;
    padding: 0; 
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .modal-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-close:hover,
    .modal-close:focus {
        background-color: #404bbf; 
        border: none;
    }
    
    .modal-close:hover svg {
       
        fill: #ffffff;
    }
    .modal-close:focus svg {
       
        fill: #ffffff;
        
    }
    
    .modal-field {
        margin-bottom: 8px;
    }
    
    .modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42; 
        max-width: 360px;
        margin-bottom: 16px;
        
      
    }
    
    
    .modal-form {
        
    }
    
    .modal-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 40px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
      
        color: #8e8f99;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    
    .modal-input:focus +.modal-icon {
        fill: #4d5ae5;
        border-color: #4D5AE5;
    }
    .modal-label {
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    }
    
    .modal-icon {
        fill: #2e2f42;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-icon :hover,
    .modal-icon :focus {
        fill: #ffffff;
    }
    .modal-input-wrap {
        position: relative;
        
    }
    .modal-input:focus {
        border-color: #4D5AE5;
    }
    
    .modal-text:focus {
        border-color: #4D5AE5;
    }
    .modal-text {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        background-color: transparent;
        outline: transparent;
        padding: 8px 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    
    .modal-input-textarea { 
        margin-bottom: 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .check-text {
        font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
    }
    
    .check-link {
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
    }
    
    .check-text span {
        width: 16px;
        height: 16px;
        border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-input-check {
        margin-bottom: 24px; 
    }
    .modal-check {
        
    }
    
    .modal-check-icon {
    
    
    }
    
    
    .modal-check:checked + .check-text> span {
        background-color: #404bbf;
        border: none;
        fill: #f4f4fd;
    }